# Configuration JWT
SECRET_KEY = your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES = your_expire_time_here
ALGORITHM = your_algorithm_here

# Configuration MongoDB
PASSWORD_MONGODB = your_mongodb_password_here
USERNAME_MONGODB = your_mongodb_username_here
DATABASE_NAME = your_database_name_here
URL_MONGO_DB = your_mongodb_url_here

# Configuration Redis
REDIS_HOST = your_redis_host_here
REDIS_PORT = your_redis_port_here
REDIS_DB = your_redis_db_here

CACHE_TTL_USER = your_cache_ttl_user_here  # Time to live for user cache
CACHE_TTL_LOGIN = your_cache_ttl_login_here  # Time to live for login cache
CACHE_TTL_USERS_LIST = your_cache_ttl_users_list_here  # Time to live for users list cache